# IDE settings

## NetBeans
/nbproject/

## PHPStorm (JetBrains)
/.idea/workspace.xml
/.idea/.usage.statistics.xml
/.idea/shelf
/.idea/*.iml

# PHP Unit related files
/vendor/
/*.phar
/.phpunit.result.cache
/php/phpunit/phpunit.php-*.xml
/php/phpunit/.phpunit.result.cache
/php/phpunit/.phpunit.result.php-*.cache
/php/phpunit/phpunit-*.phar

# Sphinx files
/docs/_*
/docs/.env

# Operating system specific

## macOS
.DS_Store
