# IDE settings

## NetBeans
/nbproject/

## PHPStorm (JetBrains)
/.idea/workspace.xml
/.idea/.usage.statistics.xml
/.idea/shelf
### Wouldn't be necessary if PHPStorm could save relative path in php-test-framework.xml
/.idea/php-test-framework.xml

# PHP Unit related files
/vendor/
/*.phar
/.phpunit.result.cache
/php/phpunit/phpunit.php-*.xml
/php/phpunit/.phpunit.result.cache
/php/phpunit/.phpunit.result.php-*.cache
/php/phpunit/phpunit-*.phar

# Sphinx files
/docs/_*
/docs/.env

# Operating system specific

## macOS
.DS_Store

# Other

/.env